{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Male-Fashion</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'main/css/font-awesome.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'main/css/elegant-icons.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'main/css/magnific-popup.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'main/css/nice-select.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'main/css/owl.carousel.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'main/css/slicknav.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'main/css/style.css'%}" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    {% include 'layouts/navbar.html' %}

    {% block content %}

    {% endblock %}

    {% include 'layouts/footer.html' %}

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="{% static 'main/js/jquery-3.3.1.min.js'%}"></script>
    <script src="{% static 'main/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'main/js/jquery.nice-select.min.js'%}"></script>
    <script src="{% static 'main/js/jquery.nicescroll.min.js'%}"></script>
    <script src="{% static 'main/js/jquery.magnific-popup.min.js'%}"></script>
    <script src="{% static 'main/js/jquery.countdown.min.js'%}"></script>
    <script src="{% static 'main/js/jquery.slicknav.js'%}"></script>
    <script src="{% static 'main/js/mixitup.min.js'%}"></script>
    <script src="{% static 'main/js/owl.carousel.min.js'%}"></script>
    <script src="{% static 'main/js/main.js'%}"></script>
</body>

</html>
